.progress-bar-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.progress{
    height: 4em;
    width: 25em;
    border-radius: 25px;
    border: 4px black solid;
}
.progress-bar{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: aqua;
}